<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration debug="false" scanPeruiod="60 seconds" scan="true">
    <property value="${CATALINA_HOME}/logs" name="LOG_HOME"></property>
    <!-- 控制台输出 -->
    <appender  class="ch.qos.logback.core.ConsoleAppender" name="console">
        <!--<Encoding>UTF-8</Encoding>-->
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} 耗时：%r 日志来自：%logger{50} 日志类型: %-5p 日志内容：%m%n</pattern>-->
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="mall" >
        <!--日志文件输出的文件名 -->
        <file>${LOG_HOME}/mall.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/mall.log.%d{yyyy-mm-dd}.gz</fileNamePattern>
            <append>true</append>
            <!--日志文件保留天数 -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>[%d{HH:mm:ss:SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="error" >
        <file>${LOG_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error.log.%d{yyyy-mm-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss:SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <logger name="com.hmall"  level="INFO" additivity="false">
        <appender-ref ref="mall"></appender-ref>
        <appender-ref ref="console"></appender-ref>
        <appender-ref ref="error"></appender-ref>
    </logger>

    <!--geelynote mybatis log 日志-->
    <logger name="com.hmall.dao" level="DEBUG"></logger>
    <root level="DEBUG">
        <appender-ref ref="console"></appender-ref>
        <appender-ref ref="error"></appender-ref>
    </root>
</configuration>